<div class="header">
	<h1>Sudoku Solver</h1>
</div>
<div class='sudoku_form'>
	<%=form_for  root_path, :html => {:id => "sudoku"}  do |f| %>
		<h4> for blank spaces leave 0!</h4>

		<table>
			<tr class='row_1'>
				<td>
					<%= f.select :cell0, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell1, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell2, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell3, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell4, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell5, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell6, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell7, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell8, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class='row_2'>
				<td>
					<%= f.select :cell9, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell10, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell11, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell12, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell13, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell14, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell15, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell16, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell17, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class="row_3">
				<td>
					<%= f.select :cell18, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell19, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell20, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell21, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell22, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell23, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell24, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell25, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell26, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class='row_4'>
				<td>
					<%= f.select :cell27, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell28, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell29, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell30, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell31, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell32, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell33, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell34, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell35, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class="row_5">
				<td>
					<%= f.select :cell36, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell37, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell38, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell39, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell40, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell41, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell42, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell43, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell44, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class='row_6'>
				<td>
					<%= f.select :cell45, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell46, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell47, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell48, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell49, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell50, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell51, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell52, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell53, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class='row_7'>
				<td>
					<%= f.select :cell54, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell55, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell56, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell57, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell58, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell59, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell60, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell61, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell62, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class='row_8'>
				<td>
					<%= f.select :cell63, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell64, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell65, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell66, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell67, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell68, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell69, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell70, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell71, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
			<tr class="row_9">
				<td>
					<%= f.select :cell72, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell73, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_3">
					<%= f.select :cell74, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell75, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell76, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_6">
					<%= f.select :cell77, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell78, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td>
					<%= f.select :cell79, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
				<td class="col_9">
					<%= f.select :cell80, [["0","0"],["1","1"],["2","2"],["3","3"],["4","4"],["5","5"],["6","6"],["7","7"],["8","8"],["9","9"]] %>
				</td>
			</tr>
		</table>
		<%= f.submit "Get Results" %>
	<% end%>
</div>

<div id='result' class='container'>
</div>